[workspace]
members = [
    "programs/*"
]
resolver = "2"

[profile.release]
overflow-checks = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = "debuginfo"

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
